<a href="https://colab.research.google.com/github/sdw1621/0_LG/blob/main/LG%EC%A0%84%EC%9E%90_%EC%A7%88%EB%AC%B8_%EC%BD%94%EB%9E%A9%EC%97%90_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# google drive 마운트하기
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
cd /content/drive/MyDrive/0_LG (1)

/content/drive/MyDrive/0_LG (1)

In [7]:
import pandas as pd

In [9]:
result = pd.read_csv('/content/drive/MyDrive/0_LG (1)/population_2020.csv')
result

                     행정구역 2020년02월_총인구수  ... 2020년02월_여자 인구수  2020년02월_남여 비율
0     서울특별시  (1100000000)     9,736,962  ...       4,991,829            0.95
1     부산광역시  (2600000000)     3,410,925  ...       1,737,659            0.96
2     대구광역시  (2700000000)     2,432,883  ...       1,230,519            0.98
3     인천광역시  (2800000000)     2,954,955  ...       1,473,822            1.00
4     광주광역시  (2900000000)     1,456,121  ...         735,435            0.98
5     대전광역시  (3000000000)     1,473,125  ...         737,334            1.00
6     울산광역시  (3100000000)     1,145,710  ...         557,084            1.06
7   세종특별자치시  (3600000000)       343,788  ...         172,385            0.99
8       경기도  (4100000000)    13,265,377  ...       6,592,671            1.01
9       강원도  (4200000000)     1,539,521  ...         765,163            1.01
10     충청북도  (4300000000)     1,598,599  ...         788,794            1.03
11     충청남도  (4400000000)     2,120,995  ...       1,039,842            1.04
12     전라북도  (4500000000)     1,815,112  ...         912,747            0.99
13     전라남도  (4600000000)     1,861,894  ...         926,994            1.01
14     경상북도  (4700000000)     2,658,956  ...       1,320,049            1.01
15     경상남도  (4800000000)     3,358,828  ...       1,668,228            1.01
16  제주특별자치도  (5000000000)       670,876  ...         333,581            1.01

[17 rows x 7 columns]