<a href="https://colab.research.google.com/github/sdw1621/0_LG/blob/main/PART_03_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%9E%85%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\14t90n-vr56k\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\14t90n-vr56k\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\14t90n-vr56k\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\14t90n-vr56k\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\14t90n-vr56k\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
print(pd.__version__)

1.2.4

In [ ]:
data1 = ['a','b','c','d','e']
print(data1)
print("자료형:", type(data1))

['a', 'b', 'c', 'd', 'e']
자료형: <class 'list'>

In [ ]:
sr1 = pd.Series(data1)
print("자료형:", type(sr1))

자료형: <class 'pandas.core.series.Series'>

In [ ]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
sr1.loc[0]

'a'

In [ ]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

In [ ]:
data2 = (1,2,3.14,100,-10)
sr2 = pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [ ]:
dict_data = { 'c0':sr1,'c1':sr2}

df1 = pd.DataFrame(dict_data)

print(df1)

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [ ]:
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.columns

Index(['c0', 'c1'], dtype='object')

In [ ]:
df1.columns = ['string', 'number']
df1

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

In [ ]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df1.index = ['r0','r1','r2','r3','r4']
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [ ]:
df1.loc['r2','number']

3.14

In [ ]:
df1.loc['r2':'r3', 'string':'number']

   string  number
r2      c    3.14
r3      d  100.00

In [ ]:
df1.loc['r2':'r3', 'number']

r2      3.14
r3    100.00
Name: number, dtype: float64

In [ ]:
df1.loc['r2', 'string':'number']

string       c
number    3.14
Name: r2, dtype: object

In [ ]:
df1.loc[ : , 'string']

r0    a
r1    b
r2    c
r3    d
r4    e
Name: string, dtype: object

In [ ]:
df1.loc['r2':'r3', : ]

   string  number
r2      c    3.14
r3      d  100.00